body {
  font:14px/1.5 "Verdana", sans-serif;
}

p {
  margin-bottom:1em;
}

.center {
  display:block;
  margin:0 auto;
}

img.center {
  margin-bottom:1em;
}

.error {
  background:#FF4747;
  color:#fff;
}

.warning {
  background:#FFCFCF;
  font-style:italic;
}

.ok {
  background:#C4FFC9;
  border:2px solid #73FF7E;
  padding:4px;
}

ul.flashes {
  list-style-type:none;
}

ul.flashes li {
  text-align:center;
  padding:4px;
  border-bottom:1px solid #aaa;
}

ul.flashes li.error {
  background:#FF8080;
}

ul.flashes li.success {
  background:#80FF82;
}

ul.flashes li.error {
  background:#FF4747;
  color:#fff;
}

div#progressbox {
  visibility:hidden;
  position:absolute;
  top:25%;
  left:50%;
  width:300px;
  margin-left:-150px;
  z-index:1;
  background:#ddd;
  border:3px solid #aaa;
  padding:16px;
}

div#navbar {
  width:100%;
  padding:0;
  margin:0;
  background:#444;
}

div#navbar p {
  float:left;
  padding:4px;
  color:white;
  margin-bottom:0;
}

ul#nav {
  list-style-type:none;
  float:right;
}

ul#nav li {
  float:left;
}

ul#nav li a {
  display:block;
  padding:4px 8px;
  color:white;
  text-decoration:none;
}

ul#nav li a:hover {
  /*color:#ccc;*/
  background:#3a3a3a;
  color:#87B0E6;
}

/******************************************************* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
