ul.flashes {
  list-style-type:none;
}

ul.flashes li {
  text-align:center;
  padding:8px;
  border-bottom:1px solid #aaa;
}

ul.flashes li:last-child {
  box-shadow:3px 3px 5px #ddd;
  margin-bottom:16px;
}

ul.flashes li.error {
  background:#FF8080;
}

ul.flashes li.success {
  background:#80FF82;
}

div#progressbox {
    visibility:hidden;
    position:absolute;
    top:25%;
    left:50%;
    width:300px;
    margin-left:-150px;
    z-index:1;
    background:#ddd;
    border:3px solid #aaa;
    padding:16px;
}

.center {
    display:block;
    margin:0 auto;
}

.error {
    visibility:hidden;
    background:#FF4747;
    color:#fff;
    padding:8px;
    border:3px solid #E01B1B;
}

label.field {
    text-align:left;
    padding-right:16px;
}
