{% extends "layout.html" %}

{% block head %}
<script src="/static/pad.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<noscript>Enable Javascript for enhanced security</noscript>
<form enctype=multipart/form-data method=post id=upload>
  <input type=hidden name=padding id=padding />
  <p>
    <label class=field for=file>File to upload: </label>
    <input type=file name=file>
    <span class=error id=nofile>You must specify a file to upload!</span>
  </p>
  <p>
    <label class=field for=comment>Comment: </label>
    <textarea name=comment></textarea><br>
  </p>
  <input type=submit value="Submit">
</form>

<div id="progressbox"></div>
{% endblock %}
